node_modules/
dist/
*.log
.DS_Store
renderer/bundle.js
renderer/bundle.js.map
renderer/bundle.js.LICENSE.txt
mcms/renderer/bundle.js
mcms/renderer/bundle.js.map
mcms/renderer/bundle.js.LICENSE.txt
release/
*.app
*.dmg
*.zip
npm-debug.log*
yarn-debug.log*
yarn-error.log*
